@font-face {
    font-family: 'Teko';
    src: url('../fonts/Teko-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Ultra';
    src: url('../fonts/Ultra-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold2.ttf');
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primaryColor: #5c61b2;
    --secondaryColor: #dfe1f0;
    --darkPurple: #4a5bee;
    --darkmodePrimaryColor: #27292d;
    --darkmodeSecondaryColor: #373a46;
    --darkmodeTertiaryColor: #85899a;
    --brightPurple: #8f93e0;
    --lightGray: #e3e7ef;
    --brightGray: #d9dee2;
    --mediumGray: #b8bfcc
}

svg {
    fill: var(--darkmodePrimaryColor);
}

body {
    --color-text: #38373e;
    --color-background: #f1f5f9;
    --color-link: #4b4b4b;
    --color-link-hover: #4b4b4b;
    --color-intro-bg: #0e0e0e;
    --modal-color-text: #27292d;
    color: var(--color-text);
    width: 100%;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    font: 14px/1.5 'Poppins', 'Dotum';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

canvas {
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
    content: '';
    position: fixed;
    z-index: 1000;
}

.js .loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    outline: none;
    text-decoration: none;
}

.js-image {
    max-width: 100%;
    display: block;
}

.loaded .js-image {
    opacity: 0;
}


.container {
    padding: 0; /* bootstrap */
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
}

section {
    position: relative
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
img {
    display: block;
    width: 100%;
}

.add-input {
    width: 100%;
    margin: 0 auto;
    fill: var(--brightPurple) !important;
}

h1, h2, h3, h4, h5, p {
    margin: 0
}

small {
    font-family: Comfortaa;
    line-height: 1.2;
}

.active {
    opacity: 1 !important;
    visibility: visible !important;
    display: flex !important;
}

fieldset {
    border-radius: .5rem;
    border: 1px solid var(--darkPurple);
}

legend {
    text-align: center;
    color: var(--brightGray);
}

input {
    -webkit-appearance: none;
    height: auto;
    border: 0;
    padding: .5rem;
    font: 15px/1 'NanumSquare';
    background-color: white;
    outline: 0;
    box-sizing: border-box;
    border-radius: .3rem;
    position: relative;
}

input[type="password"] {
    font-family: "Comfortaa";
}

input:focus, select:focus, button:focus {
    outline: 0;
}

label {
    font-weight: normal; /* bootstrap*/
    margin-bottom: 0; /* bootstrap*/
    flex: 0 0 20% !important;
    color: slategray;
}

button {
    display: flex;
    border: 0;
    background: var(--primaryColor);
    color: white;
    border-radius: .2rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.button-submit {
    background-color: var(--primaryColor);
}

.button-cancel {
    background-color: var(--secondaryColor);
    color: var(--darkPurple)
}

.button-modify {
    background-color: var(--secondaryColor);
    color: var(--darkPurple);
    width: 2rem;
    height: 2rem;
    padding: 0;
}

textarea {
    background-color: white;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    resize: none;
}

textarea:focus {
    outline: 0
}

header {
    flex: 0 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
}

header a {
    display: flex;
    padding: 1rem .5rem;
}

header .menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .menu a {
    font-size: 13px;
}
header .logo {
}

main {
    flex: 1 1 auto;
    display: flex;
    background: var(--color-background);
}

aside {
    background-color: white;
}

aside ul {
    flex-direction: column;
}

aside li {
}

.flex-wrapper {
    display: flex;
}

.content {
    opacity: 0;
    flex: 1 1 auto;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    animation: fadeInOpacity .4s forwards;
    transition: .2s border-color;
}

.content-title {
    flex: 0 0 auto;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content-title .button-container button {
    padding: .6rem 1.6rem
}

.content-title h1 {
    font: normal 2rem/1 'Nanumsquare';
    flex: 1 1 auto;
}

.content .title p {
    color: #5e5c67;
    font-size: 16px;
}

.content-view {
    flex: 0 1 auto;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.wrapper {
    flex: 1 1 auto;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
}

.input-container div {
    display: flex;
    align-items: center;
}

.input-container div input {
    flex: 1 1 auto;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
}

.button-container button {
    margin-left: .5rem;
}

/* Progress */

.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    background-color: lightsteelblue;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap svg.progress-circle path {
    stroke: white;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap svg {
    fill: white;
    align-self: center;
}


/* Pagination */

.pagination {
    margin: 2rem auto

}

.pagination ul {
    display: flex;
}

.pagination li {
    margin: 0 1rem;
    color: slategray;
    display: flex;
    align-items: center;
}

.pagination .active {
    color: #36299f;
    font-weight: bold;
}

.pagination svg {
    fill: slategray;
}


/* Checkbox */
.checkbox {
    position: relative;
}

.checkbox input {
    position: absolute;
    opacity: 0
}

.checkbox label {
    color: #AAA;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0;
    transition: .2s color;
}

.checkbox input:checked + label {
    color: #36299f;
}

.checkbox label:before {
    border-radius: 2px;
    transition: .2s;
    content: '';
    margin-right: 3px;
    width: 15px;
    height: 15px;
    background-color: #EEE;
}

.checkbox input:checked + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #36299f, 4px 0 0 #36299f, 4px -2px 0 #36299f, 4px -4px 0 #36299f, 4px -6px 0 #36299f, 4px -8px 0 #36299f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}


/* Radio Button */
input[type="radio"] {
    position: absolute;
    opacity: 0
}

input[type="radio"] + label {
    cursor: pointer;
    margin-right: .5rem
}

input[type="radio"] + label:before {
    content: '';
    background: #F3F6F9;
    border-radius: 100%;
    border: 1px solid #E3E6E9;
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    margin-right: 3px;
    vertical-align: middle;
    transition: all .2s ease
}

input[type="radio"]:hover + label:before, input[type="radio"]:checked + label:before {
    border-color: #2869bd !important;
    background-color: #2869bd !important;
    box-shadow: inset 0 0 0 2px #DDD;
}

input[type="radio"]:focus + label:before {
    outline: none;
}

input[type="radio"]:disabled + label {
    cursor: auto
}

input[type="radio"]:disabled:checked + label:before {
    box-shadow: inset 0 0 0 2px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4
}

input[type="radio"]:disabled + label:before {
    border-color: #b4b4b4;
    background: #f4f4f4
}

input[type="radio"] + label:empty:before {
    margin-right: 0
}

.input-comment {
    flex: 1 1 100% !important;
}


/*selectbox*/
select {
    display: flex;
    flex: 1 1 auto;
    -webkit-appearance: none;
    padding: .7rem;
    height: auto;
    border: 0;
    font: 15px/1.5 'NanumSquare';
    background-color: white;
    outline: 0;
    box-sizing: border-box;
}

select::-ms-expand {
    display: none;
}

.selectbox {
    position: relative;
    background-color: white;
    box-sizing: border-box;
    border-radius: .3rem;
    background-color: white;
}

.selectbox::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 0;
    height: 0;
    margin-top: -10px;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*table*/
.table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 1rem;
}

.table .row {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: .7rem;
    background: white;
    border-radius: .5rem;
    margin: .5rem 0;
    position: relative;
    cursor: pointer;
    animation: fadeInOpacity .8s forwards;
}

.table .row span {
    color: #5e5c67;
    align-items: center;
    display: flex;
    justify-content: center;
}

.table .th {
    border-radius: 0;
    background: transparent !important;
    padding-bottom: 0;
}

.table .th span {
    font: 12px/1.5 'Comfortaa';
    color: slategray !important;
}


/* =====================================================
   Toggle buttons
   ===================================================== */
.toggle {
    display: block;
    text-align: center;
    user-select: none;
}

.toggle-checkbox {
    display: none;
}

.toggle-button {
    display: block;
    background-color: var(--brightGray);
    margin: 0 auto;
    font-size: 1.4em;
    transition: .2s;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle .toggle-button {
    position: relative;
    height: 22px;
    width: 36px;
    border-radius: 25px;
}

.toggle .toggle-feature {
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    fill: white;
    border-radius: 50%;
    transition: .2s;
}

.toggle .toggle-checkbox:checked + .toggle-button {
    background-color: var(--brightPurple);
    fill: white;
}

.toggle .toggle-checkbox:checked + .toggle-button > * {
    left: 16px;
}



/* =====================================================
   Modal Effect
   ===================================================== */
.modal {
    opacity: 0;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background: white;
    flex-direction: column;
    border-radius: .5rem;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: default;
    transition: .25s;
    z-index: 10;
}

.modal {
    color: var(--modal-color-text);
    width: 50vw;
    height: 50vh;
    max-height: 60%;
    overflow-y: auto;
}

.modal.hide {
    display: none;
}

.modal .close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.modal-content {
    display: none;
    flex-direction: column;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    transition: opacity .4s;
}
.modal section {
    padding: 0 1rem 1rem 1rem;
    flex: 1 1 auto;
    overflow-y: auto;
}

.modal .title {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width: 768px) {
    .modal {
        padding: 1rem;
        width: 90vw;
    }
}

/* Scrollbar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #eee;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #a3a6a9;
}


@keyframes fadeInOpacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}


/* =====================================================
   Dark mode
   ===================================================== */
.dark-mode {
    background-color: var(--darkmodePrimaryColor);
    color: white;
}

.dark-mode a {
    color: white
}

.dark-mode .button-cancel {
    background-color: var(--darkmodeTertiaryColor);
    color: white;
}

.dark-mode p, .dark-mode label {
    color: #d0d3dc !important;
}

.dark-mode input, .dark-mode select {
    background-color: #484c5a !important;
    color: white;
}

.dark-mode .selectbox::before {
    border: solid var(--secondaryColor);
    border-width: 0 1px 1px 0;
}

.dark-mode header {
    border-color: var(--darkmodeSecondaryColor);
}

.dark-mode .menu {
    background-color: var(--darkmodePrimaryColor);
    color: white;
    border-color: #393b40;
}

.dark-mode .menu a {
    color: #ccc;
    transition: .2s color;
}

.dark-mode .content .title h1 {
}

.dark-mode svg {
    fill: rgba(255, 255, 255, .3)
}

.dark-mode .table .row {
    background-color: var(--darkmodeSecondaryColor);
}

.dark-mode .table .row span {
    color: #d0d3dc;
}

.dark-mode input[type="radio"] + label:before {
    background-color: #373a46;
    border-color: var(--darkmodePrimaryColor);
}

.dark-mode input[type="radio"]:hover + label:before, .dark-mode input[type="radio"]:checked + label:before {
    box-shadow: inset 0 0 0 2px var(--darkmodePrimaryColor);
}


