h4 {
    font-family: NanumSquare;
}

.container {
    background: #e7ebf3;
    overflow: hidden;
}

.datepicker table tr td span {
    justify-content: center;
    line-height: 36px;
    height: 36px;
}

.logo {
    font-family: Montserrat;
    font-size: 18px;
}

input {
    color: slategray;
}

aside {
    font-family: Nanumsquare;
    background: #e7ebf3;
    flex-direction: column;
    transition: .0s;
}

aside small {
    display: block;
    padding: 3rem 1.5rem .5rem;
}

aside .aside-toggle-menu {
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

aside.active .aside-toggle-menu svg:last-of-type {
    display: flex;
    border: 1px solid var(--mediumGray);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 5px;
}

aside .aside-toggle-menu svg:last-of-type {
    display: none;
}

aside .aside-icon-menu {
    display: flex;
    justify-content: center;
    align-content: center;
}

aside .aside-icon-menu li {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: .5rem;
    margin: .5rem;
    cursor: pointer;
    transition: background-color .2s;
}

aside .aside-icon-menu li svg {
    align-self: center;
}

aside .aside-icon-menu li:hover,
aside .aside-icon-menu li.active {
    background: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.025);
}

aside .aside-icon-menu li:hover svg,
aside .aside-icon-menu li.active svg {
    fill: var(--primaryColor);
}

aside.active .aside-icon-menu {
    display: none;
}

aside svg {
    fill: var(--darkGray);
}

aside.active {
    flex: 0 0 180px;
    overflow-y: auto;
    height: 100vh;
}

aside.active .aside-toggle-menu svg:first-of-type {
    display: none;
}

aside .aside-menu {
    display: none;
}

aside.active .aside-menu {
    display: block;
}

aside h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


aside ul {
    display: none;
    transition: .2s;
}

aside li {
}

aside li a {
    font-size: 14px;
    color: var(--darkGray);
    display: flex;
    padding: 1.2rem;
    margin: 0;
    border-bottom: 1px solid #d2d4da;
    transition: .2s;

}

.aside-menu > ul > li:first-of-type a {
    border-top: 1px solid var(--brightGray);
}

aside li a:hover,
aside li a.active {
}

.aside-title {
    margin: 3rem 1.2rem 1rem;
    font-size: 13px;
    justify-content: flex-start;
}

.aside-menu > ul {
    display: flex;
}

.aside-menu > ul li > a,
.aside-menu > ul li > span {
    border-bottom: 1px solid var(--brightGray);
    color: var(--darkGray);
    display: flex;
    font-size: 14px;
    padding: 1.2rem;
    cursor: pointer;
    transition: background-color .2s;
}

.aside-menu > ul li a:hover,
.aside-menu > ul li .sub-menu:hover ,
.aside-menu > ul li .sub-menu.active {
    background-color: var(--brightGray);
}

.sub-menu.active + ul {
    display: flex;
    background-color: var(--brightGray);
}

.sub-menu.active + ul li a {
    padding: .7rem 2rem;
}

.sub-menu.active + ul li a:hover,
.sub-menu.active + ul li a.active {
    background-color: var(--darkGray);
    color: white
}

input[type="radio"] {
    display: none;
}

main {
    flex-direction: column;
    border-radius: 1rem 0 0 0;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.075);
}

header {
    padding: 0 .5rem;
}

section {
}

.content {
}

.content-title {
    padding: 1rem;
}

.content-view {
    flex: 1 1 auto;
    max-width: none;
    justify-content: flex-start;
    overflow: hidden;
}

.tabs {
    flex: 0 0 auto;
}

.tabs li {
    margin-left: .5rem;
}

.tabs a {
    color: var(--darkGray);
    display: flex;
    padding: .8rem 1.6rem;;
    border-radius: .3rem;
    position: relative;
    border: 1px solid var(--brightGray);
    transition: background-color .2s;
}

.tabs a:hover,
.tabs a.active {
    color: white;
    border: 1px solid var(--primaryColor);
    background: var(--primaryColor);
}


.search {
    background-color: white;
    border-radius: .5rem;
    flex: 0 0 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem 1rem;
}

.search .submit-search {
    background-color: var(--secondaryColor);
    justify-content: center;
    padding: 1.2rem;
}

.search .submit-search svg {
    fill: white;
    width: 2.5rem;
    height: 2.5rem;
}

.search section {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
}

.filter {
    flex: 0 0 auto;
    background-color: white;
    border-radius: .3rem;
}

.filter section {
    display: flex;
    align-items: center;
}

.filter section:not(:last-of-type) {
    margin-bottom: 1rem;
}

.filter section h3 {
    flex: 0 0 100px;
}

.filter h3 {
    font-size: 13px;
    color: slategray;
}

.filter ul {
    flex-wrap: wrap;
}

.filter label {
    display: flex;
    line-height: 1;
    border: 1px solid #EEE;
    transition: background-color .2s;
}

.filter input[type="radio"] + label {
    justify-content: center;
    margin-right: 0;
    box-sizing: border-box;
}

.filter input[type="radio"] + label:before {
    content: none;
}

.filter input[type="radio"]:hover + label, input[type="radio"]:checked + label {
    background-color: var(--brightBlue);
    border: 1px solid var(--brightBlue);
    color: var(--primaryColor);
}

.filter-vaccine-type {
    background-color: white;
    border-radius: .3rem;
}

.filter-vaccine-type h3 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    text-align: center;
}

.filter-vaccine-type ul {
}

.filter-vaccine-type li {
    flex: 0 1 50%;
}

.filter-vaccine-type label {
    padding: 1rem;
    margin: .2rem;
    border-radius: .3rem;
}


.filter-inculation-order,
.filter-period {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.filter-inculation-order h3 {
    margin-right: 1rem;
}

.filter-inculation-order li {
    margin-right: .5rem;
}

.filter-inculation-order label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--brightGray)
}

.filter-inculation-order input[type="radio"]:hover + label,
.filter-inculation-order input[type="radio"]:checked + label {
    background-color: var(--brightBlue);
    color: var(--primaryColor);
}


.filter-period {
}

.filter-period h3 {
    margin-right: 1rem;
}

.filter-period .input-container {
    flex-direction: row;
    margin-bottom: 0;
}

.filter-period input {
    border: 1px solid #EEE;
    width: 90px;
    flex: 1 1 auto
}

.filter-period span {
    margin: 0 .5rem
}

.result-view {
    margin-left: 1rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: .5rem;
    padding: 3rem 1rem;
    overflow: hidden;
}

.charts {
    display: flex;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.wrapper-chart {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    flex: 1 1 33.333%
}

.chart {
    width: 100%;
    height: 100%;
}

.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active {
    background: var(--secondaryColor);
}

.content-view.geo-chart {
    flex-direction: column;
    flex-wrap: nowrap;
}

.content-view.geo-chart .search {
    flex: 0 0 auto;
    padding: 1rem
}

.content-view.geo-chart .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-view.geo-chart .filter {
    display: flex;
    align-items: center;
}

.content-view.geo-chart .filter > * {
    margin: 0 1rem;
}

.content-view.geo-chart .filter-vaccine-type {
    flex: 1 1 auto
}

.content-view.geo-chart .filter-vaccine-type li {
    flex: 0 0 auto
}

.content-view.geo-chart .filter-period {
    flex: 0 0 auto
}

.content-view.geo-chart .filter h3 {
    flex: 0 0 auto;
    margin-bottom: 0;
    text-align: right;
    margin-right: 1rem
}

.content-view.geo-chart .filter-period > div {
    display: flex;
    align-items: center;
}

.content-view.geo-chart .submit-search {
    padding: .5rem 2rem;
}

.content-view.geo-chart .result-view {
    margin-left: 0;
    margin-top: 1rem;
    padding: 1rem;
}

.content-view.geo-chart .chart-container {
    align-items: flex-start;
    overflow: hidden;
}

.content-view.geo-chart .wrapper-chart {
    overflow: hidden;
    height: 100%;
}

.content-view.geo-chart .result-view h5 {
    font-family: NanumSquare;
    font-size: 16px;
    line-height: 2;
    flex: 0 0 auto;
}

.content-view.geo-chart .chart {
    flex: 0 0 auto;
    height: auto;
}

.content-view.geo-chart .table {
    margin: 2rem auto 0;
    flex: 1 1 auto;
    overflow-y: auto;
}

.content-view.geo-chart table th:nth-of-type(1),
.content-view.geo-chart table td:nth-of-type(1) {
    width: 100px;
}

.content-view.geo-chart table th:nth-of-type(2),
.content-view.geo-chart table td:nth-of-type(2) {
    display: none
}

.google-visualization-table .gradient {
    background: var(--lightGray) !important;
}

.google-visualization-table-tr-over {
    background-color: var(--brightBlue) !important;
}


@media screen and (max-width: 768px) {
    .content {

    }

    .content-title {
        flex-direction: column;
    }

    .tabs {
        flex-wrap: wrap;
        font-size: 12px;
    }

    .tabs li {
        flex: 0 1 50%;
        margin: 0
    }

    .tabs a {
        display: flex;
        justify-content: center;
        padding: 1rem .5rem
    }

    .content-view {
        flex-wrap: nowrap;
        flex-direction: column;
        overflow-y: auto;
    }

    .search {
        flex: auto
    }

    .result-view {
        margin: 1rem 0 0 0;
    }
}