h4 {
    font-family: NanumSquare;
}

.container {
    background: var(--color-background);
    flex-direction: column;
    overflow: hidden;
}

.datepicker table tr td span {
    justify-content: center;
    line-height: 36px;
    height: 36px;
}

.logo {
    font-family: Montserrat;
    font-size: 18px;
}

input {
    color: slategray;
}

aside {
    font-family: Nanumsquare;
    background: var(--color-background);
}

aside small {
    display: block;
    padding: 3rem 1.5rem .5rem;
}

aside .aside-toggle-menu {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

aside.active .aside-toggle-menu svg:last-of-type {
    display: flex;
    border: 1px solid var(--mediumGray);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 5px;
}

.dark-mode aside.active .aside-toggle-menu svg:last-of-type {
    border: 0
}

aside .aside-toggle-menu svg:last-of-type {
    display: none;
}

aside .aside-icon-menu {
    display: flex;
    justify-content: center;
    align-content: center;
}

aside .aside-icon-menu li {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: .5rem;
    margin: .5rem;
    cursor: pointer;
    transition: background-color .2s;
}

aside .aside-icon-menu a {
    border-bottom: 0;
}

aside .aside-icon-menu li svg {
    align-self: center;
}

aside .aside-icon-menu li:hover,
aside .aside-icon-menu li.active {
    background: white;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.025);
}

aside .aside-icon-menu li:hover svg,
aside .aside-icon-menu li.active svg {
    fill: var(--primaryColor);
}

aside.active .aside-icon-menu {
    display: none;
}

aside svg {
    fill: var(--darkGray);
}

aside.active {
    flex: 0 0 180px;
    overflow-y: auto;
    height: 100vh;
}

aside.active .aside-toggle-menu svg:first-of-type {
    display: none;
}

aside .aside-menu {
    display: none;
}

aside.active .aside-menu {
    display: block;
}

aside h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


aside ul {
    display: none;
    transition: .2s;
}

aside li {
}

aside li a {
    font-size: 14px;
    color: var(--darkGray);
    display: flex;
    padding: 1.2rem;
    margin: 0;
    border-bottom: 1px solid #d2d4da;
    transition: .2s;

}

.aside-menu > ul > li:first-of-type a {
    border-top: 1px solid var(--brightGray);
}

.dark-mode .aside-menu > ul > li:first-of-type a {
    border-top: 1px solid var(--darkmodeSecondaryColor);
}

aside li a:hover,
aside li a.active {
}

.aside-title {
    margin: 4rem 1.2rem 1rem;
    font-size: 13px;
    justify-content: flex-start;
}

.aside-menu .aside-title:first-child {
    margin-top: 0
}

.aside-menu > ul {
    display: flex;
}

.aside-menu > ul li > a,
.aside-menu > ul li > span {
    border-bottom: 1px solid var(--brightGray);
    color: var(--darkGray);
    display: flex;
    font-size: 14px;
    padding: 1rem;
    cursor: pointer;
    transition: background-color .2s;
}

.dark-mode .aside-menu > ul li > a,
.dark-mode .aside-menu > ul li > span {
    border-bottom: 1px solid var(--darkmodeSecondaryColor);
}

.aside-menu > ul li a:hover,
.aside-menu > ul li .sub-menu:hover,
.aside-menu > ul li .sub-menu.active {
    background-color:#c7d0e2;
}

.aside-menu > ul li .sub-menu.active {
    border-bottom: 0;
}

.sub-menu.active + ul {
    display: flex;
    background-color: #485161;
}

.dark-mode .sub-menu.active + ul {
    background-color: var(--darkmodeSecondaryColor);
}

.sub-menu.active + ul li a {
    color: #DDD;
    border-bottom: 0;
}

.sub-menu.active + ul li a:hover,
.sub-menu.active + ul li a.active {
    background-color: #677184;
    color: white;
}

input[type="radio"] {
    display: none;
}

main {
    overflow: hidden;
}

header {
    padding: 0 1rem;
}

section {
}

.content {
    border-radius: .5rem;
    margin: 0 1rem 1rem 0;
    background: var(--color-main-background);
    /*box-shadow: 0 0px 30px 5px rgba(0, 0, 0, 0.075);*/
}

.content-title {
    padding: 1rem;
}

.content-view {
    flex: 1 1 auto;
    max-width: none;
    justify-content: flex-start;
    overflow: hidden;
}


/* Summary */
.summary .preview-container {
    flex: 1 1 50%;
    padding: .5rem;
    display: flex;
}

.summary .preview {
    flex: 1 1 auto;
    background-color: white;
    border-radius: .5rem;
}

.tabs {
    flex: 0 0 auto;
    border: 1px solid #EEE;
    background-color: white;
}

.tabs li:not(:last-of-type) {
    border-right: 1px solid #EEE;
}

.tabs a {
    color: var(--darkGray);
    display: flex;
    padding: .8rem 1.6rem;;
    position: relative;
    transition: background-color .2s;
}

.tabs a:hover,
.tabs a.active {
    color: white;
    background: var(--secondaryColor);
}

.tabs li:first-of-type a {
    border-radius: .3rem 0 0 .3rem;
}

.tabs li:last-of-type a {
    border-radius: 0 .3rem .3rem 0;
}

.search {
    background-color: white;
    border-radius: .5rem;
    flex: 0 0 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem 1rem;
}

.search .submit-search {
    background-color: var(--primaryColor);
    justify-content: center;
    padding: 1.2rem;
}

.search .submit-search svg {
    fill: white;
    width: 2.5rem;
    height: 2.5rem;
}

.search section {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
}

.filter {
    flex: 0 0 auto;
    background-color: white;
    border-radius: .3rem;
}

.filter section {
    display: flex;
    align-items: center;
}

.filter section:not(:last-of-type) {
    margin-bottom: 1rem;
}

.filter section h3 {
    flex: 0 0 100px;
}

.filter h3 {
    font-size: 13px;
    color: slategray;
}

.filter ul {
    flex-wrap: wrap;
}

.filter label {
    display: flex;
    line-height: 1;
    border: 1px solid #EEE;
    transition: background-color .2s;
}

.filter input[type="radio"] + label {
    justify-content: center;
    margin-right: 0;
    box-sizing: border-box;
}

.filter input[type="radio"] + label:before {
    content: none;
}

.filter input[type="radio"]:hover + label, input[type="radio"]:checked + label {
    background-color: var(--brightBlue);
    border: 1px solid var(--brightBlue);
    color: var(--primaryColor);
}

.filter-vaccine-type {
    background-color: white;
    border-radius: .3rem;
}

.filter-vaccine-type h3 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    text-align: center;
}

.filter-vaccine-type ul {
}

.filter-vaccine-type li {
    flex: 0 1 50%;
}

.filter-vaccine-type label {
    padding: 1rem;
    margin: .2rem;
    border-radius: .3rem;
}


.filter-inculation-order,
.filter-period {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-inculation-order h3 {
    margin-right: 1rem;
}

.filter-inculation-order ul {
    flex-wrap: nowrap;
}

.filter-inculation-order li {
    margin-right: .5rem;
    font-size: 12px;
    color: orangered;
    white-space: nowrap;
}

.filter-inculation-order label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--brightGray)
}

.filter-inculation-order input[type="radio"]:hover + label,
.filter-inculation-order input[type="radio"]:checked + label {
    background-color: var(--brightBlue);
    color: var(--primaryColor);
}


.filter-period {
}

.filter-period h3 {
    margin-right: 1rem;
}

.filter-period .input-container {
    flex-direction: row;
    margin-bottom: 0;
}

.filter-period input {
    border: 1px solid #EEE;
    width: 90px;
    flex: 1 1 auto
}

.filter-period span {
    margin: 0 .5rem
}

.result-view {
    margin-left: 1rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: .5rem;
    padding: 3rem 1rem;
    overflow: hidden;
}

.charts {
    display: flex;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.wrapper-chart {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    flex: 1 1 33.333%
}

.chart {
    width: 100%;
    height: 100%;
}

.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active {
    background: var(--secondaryColor);
}

.content-view.filters-top {
    flex-direction: column;
    flex-wrap: nowrap;
}

.content-view.filters-top .search {
    flex: 0 0 auto;
    padding: 1rem
}

.content-view.filters-top .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-view.filters-top .filter {
    display: flex;
    align-items: center;
}

.content-view.filters-top .filter-vaccine-type {
    flex: 1 1 auto;
    margin-bottom: 1rem;
}

.content-view.filters-top .filter-vaccine-type li {
    flex: 0 0 auto
}

.content-view.filters-top .filter-period {
    flex: 0 0 auto;
    flex-wrap: nowrap;
}

.content-view.filters-top .filter h3 {
    flex: 0 0 100px;
    margin-bottom: 0;
    text-align: right;
    margin-right: 1rem
}

.content-view.filters-top .filter-period > div {
    display: flex;
    align-items: center;
}

.content-view.filters-top .submit-search {
    padding: .5rem 2rem;
}

.content-view.filters-top .result-view {
    margin-left: 0;
    margin-top: 1rem;
    padding: 1rem;
}

.content-view.filters-top .chart-container {
    align-items: flex-start;
    overflow: hidden;
}

.content-view.filters-top .wrapper-chart {
    overflow: hidden;
    height: 100%;
}

.content-view.filters-top .result-view h5 {
    font-family: NanumSquare;
    font-size: 16px;
    line-height: 2;
    flex: 0 0 auto;
}

.content-view.filters-top .chart {
    flex: 0 0 auto;
    height: auto;
}

.content-view.filters-top .table {
    margin: 2rem auto 0;
    flex: 1 1 auto;
    overflow-y: auto;
}

.content-view.filters-top .table > div,
.content-view.filters-top table {
    width: 100%
}

.content-view.filters-top table th:nth-of-type(1),
.content-view.filters-top table td:nth-of-type(1) {
    width: 100px;
}

.content-view.filters-top table th:nth-of-type(2),
.content-view.filters-top table td:nth-of-type(2) {
    display: none
}

.google-visualization-table .gradient {
    background: var(--lightGray) !important;
}

.google-visualization-table-tr-over {
    background-color: var(--brightBlue) !important;
}

.google-visualization-table-td {
    white-space: pre;
}

/* Admin */
.table {
    height: 100%;
}

.content-title .input-container {
    margin-bottom: 0;
}

.content-title input[type="search"] {
    width: 16rem;
    padding: 1rem 3rem 1rem 1rem;
}

.content-title .button-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.user-list .row span:nth-child(1) {
    width: 10%;
}

.user-list .row span:nth-child(2) {
    width: 20%
}

.user-list .row span:nth-child(3) {
    width: 20%
}

.user-list .row span:nth-child(4) {
    width: 50%
}

.user-edit {
    justify-content: center;
    align-content: center;
}

.user-edit .wrapper {
    width: 50vw;
    max-width: 600px;
}

.user-edit .input-container {
    margin-bottom: 1.5rem;
}

.user-edit input {
    padding: 1.5rem;
}

.delete-user {
    color: var(--darkGray) !important;
    text-decoration: underline !important;
    text-align: center;
    margin-top: 5rem
}


.checkbox {
    margin: 10px 3rem 10px 0 !important;
}

@media screen and (max-width: 768px) {
    .content {

    }

    .content-title {
        flex-direction: column;
    }

    .tabs {
        flex-wrap: wrap;
        font-size: 12px;
    }

    .tabs li {
        flex: 0 1 50%;
        margin: 0
    }

    .tabs a {
        display: flex;
        justify-content: center;
        padding: 1rem .5rem
    }

    .content-view {
        flex-wrap: nowrap;
        flex-direction: column;
        overflow-y: auto;
    }

    .search {
        flex: auto
    }

    .result-view {
        margin: 1rem 0 0 0;
    }
}

@media screen and (max-width: 1200px) {
    .content-view.filters-top .filters {
        flex-wrap: wrap;
    }

    .content-view.filters-top .filter-inculation-order {
        flex: 1 1 100%;
        justify-content: flex-start;
        margin-bottom: .5rem;
    }
}


@media screen and (max-width: 930px) {

    .content-view.filters-top .filter-period {
        flex: 1 1 100%;
        justify-content: flex-start;
        margin-bottom: .5rem;
    }
}